<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <property name="LOG_LEVEL" value="info"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %date{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{1})  - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.jooq" level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </logger>


  <root level="${LOG_LEVEL}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>